In [2]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv("../data/train.csv")

In [9]:
cond = train['쇼핑몰']=="S001-00001"
train[cond]

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,2,0,2,0,2,2,1,0,0,0
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,SAMPLE_00005,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,2,4,1,0,0,0,4,0,2,0
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,0,0,0,1,0,1,0,1,2,0

In [12]:
pd.read_csv("../data/total_dates_scaling.csv")

,Unnamed: 0,Date,DayofWeek,DayofMonth,Weekend,Month,Season,Quarter,Holiday,Salary,SaleInfo
0,0,2022-01-01,0.833333,0.000000,1,0.000000,0.000000,0.000000,1,0,0.0
1,1,2022-01-02,1.000000,0.033333,1,0.000000,0.000000,0.000000,0,0,0.0
2,2,2022-01-03,0.000000,0.066667,0,0.000000,0.000000,0.000000,0,0,0.0
3,3,2022-01-04,0.166667,0.100000,0,0.000000,0.000000,0.000000,0,0,0.0
4,4,2022-01-05,0.333333,0.133333,0,0.000000,0.000000,0.000000,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
474,474,2023-04-20,0.500000,0.655172,0,0.272727,0.333333,0.333333,0,0,1.0
475,475,2023-04-21,0.666667,0.689655,0,0.272727,0.333333,0.333333,0,0,1.0
476,476,2023-04-22,0.833333,0.724138,1,0.272727,0.333333,0.333333,0,0,1.0
477,477,2023-04-23,1.000000,0.758621,1,0.272727,0.333333,0.333333,0,1,0.0
478,478,2023-04-24,0.000000,0.793103,0,0.272727,0.333333,0.333333,0,1,0.0