# Product Features
- 제품에 따라 달라지는 feature들을 정리한 파일입니다.
- features.csv를 만듭니다.

# Import Packages

In [5]:
import matplotlib.pyplot as plt
import random
import os
import pandas as pd
import numpy as np

# Import Data

In [6]:
train_data = pd.read_csv('/root/workspace/open/train.csv')
sales_data = pd.read_csv('/root/workspace/open/sales.csv')
keyword_data = pd.read_csv('/root/workspace/open/brand_keyword_cnt.csv')
prd_info_data = pd.read_csv('/root/workspace/open/product_info.csv')

In [7]:
train_data.head()

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,2,0,2,0,2,2,1,0,0,0
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,0,0,0,...,10,6,4,4,4,0,0,0,0,8

In [8]:
# 판매금액 데이터 만들기
train = train_data.iloc[:, 7:]
sales = sales_data.iloc[:, 7:]
price = sales.div(train)

In [9]:
price.dropna(axis=0, how='all')

,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22400.0,NaN,22400.0,NaN,22400.0,22400.0,22400.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4574.0,4726.666667,4330.0,4800.0,4800.0,NaN,NaN,NaN,NaN,5225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20230.0,20230.000000,20230.0,NaN,NaN,NaN,20230.0,NaN,20230.0,NaN
28892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13650.0,NaN,13650.0,NaN,13650.0,13650.0,NaN

## 파생변수 만들기

#### 브랜드 인지도/충성도 컬럼

- keyword_cnt 평균으로

In [10]:
keyword_mean = keyword_data.mean(axis='columns')
keyword_mean = pd.concat([keyword_data[['브랜드']],keyword_mean],axis=1)
keyword_mean.columns = ['브랜드', '키워드평균']
keyword_mean

             브랜드      키워드평균
0     B002-00001   0.702642
1     B002-00002  11.530036
2     B002-00003   0.799032
3     B002-00004   0.581572
4     B002-00005   1.906285
...          ...        ...
3817  B002-03818   0.219967
3818  B002-03819   0.000333
3819  B002-03820   0.001817
3820  B002-03821  13.752923
3821  B002-03822   1.055525

[3822 rows x 2 columns]

In [11]:
keyword_mean[keyword_mean['키워드평균'].isna()] # 아래 항목들은 원래 키워드 파일에서 아예 값이 없음

             브랜드  키워드평균
116   B002-00117    NaN
295   B002-00296    NaN
301   B002-00302    NaN
365   B002-00366    NaN
459   B002-00460    NaN
532   B002-00533    NaN
537   B002-00538    NaN
566   B002-00567    NaN
629   B002-00630    NaN
676   B002-00677    NaN
779   B002-00780    NaN
913   B002-00914    NaN
971   B002-00972    NaN
1046  B002-01047    NaN
1303  B002-01304    NaN
1373  B002-01374    NaN
1661  B002-01662    NaN
1763  B002-01764    NaN
1800  B002-01801    NaN
1857  B002-01858    NaN
1881  B002-01882    NaN
2019  B002-02020    NaN
2241  B002-02242    NaN
2314  B002-02315    NaN
2350  B002-02351    NaN
2371  B002-02372    NaN
2522  B002-02523    NaN
2531  B002-02532    NaN
2752  B002-02753    NaN
2778  B002-02779    NaN
2789  B002-02790    NaN
2812  B002-02813    NaN
2833  B002-02834    NaN
2909  B002-02910    NaN
2956  B002-02957    NaN
2988  B002-02989    NaN
3026  B002-03027    NaN
3239  B002-03240    NaN
3414  B002-03415    NaN
3769  B002-03770    NaN
3776  B002-03777    NaN

In [12]:
keyword_mean['키워드평균'].fillna(0, inplace=True) # 0으로 채워준다.

In [13]:
encode_info = train_data.iloc[:, :7]
date_sales = train_data.iloc[:, 7:]

In [14]:
encode_info

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010
...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001

In [15]:
merged_df = encode_info.merge(keyword_mean, left_on='브랜드', right_on='브랜드', how='left')

In [16]:
merged_df[merged_df['브랜드']=='B002-00002'] # 같은 브랜드면 같은 키워드 평균이 잘 들어갔다!

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036

- 브랜드 인지도 컬럼 - 키워드 평균 낸 것 순위 매기기(인덱스 가져오기)

In [17]:
keyword_mean = keyword_data.mean(axis='columns')
keyword_mean = pd.concat([keyword_data[['브랜드']],keyword_mean],axis=1)
keyword_mean.columns = ['브랜드', '키워드평균']
keyword_mean['키워드평균'].fillna(0, inplace=True)

In [18]:
keyword_mean2 = keyword_mean.sort_values('키워드평균', ascending = False).reset_index()
keyword_mean3 = keyword_mean2.reset_index()
keyword_mean3

      level_0  index         브랜드       키워드평균
0           0    938  B002-00939  596.540492
1           1    578  B002-00579  546.269802
2           2   3381  B002-03382  444.655200
3           3   1096  B002-01097  419.802451
4           4   3158  B002-03159  402.422235
...       ...    ...         ...         ...
3817     3817   1299  B002-01300    0.000000
3818     3818   1881  B002-01882    0.000000
3819     3819   1385  B002-01386    0.000000
3820     3820   2909  B002-02910    0.000000
3821     3821   3080  B002-03081    0.000000

[3822 rows x 4 columns]

In [19]:
keyword_ranking = keyword_mean3[['브랜드', 'level_0']]
keyword_ranking.columns = ['브랜드', '키워드순위']
keyword_ranking

             브랜드  키워드순위
0     B002-00939      0
1     B002-00579      1
2     B002-03382      2
3     B002-01097      3
4     B002-03159      4
...          ...    ...
3817  B002-01300   3817
3818  B002-01882   3818
3819  B002-01386   3819
3820  B002-02910   3820
3821  B002-03081   3821

[3822 rows x 2 columns]

In [20]:
merged_df2 = merged_df.merge(keyword_ranking, left_on='브랜드', right_on='브랜드', how='left')
merged_df2[merged_df2['브랜드']=='B002-00002'] #같은 브랜드면 같은 순위 잘 들어갔다!

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307

In [21]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28894 entries, 0 to 28893
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      28894 non-null  object
 1   제품      28894 non-null  object
 2   대분류     28894 non-null  object
 3   중분류     28894 non-null  object
 4   소분류     28894 non-null  object
 5   브랜드     28894 non-null  object
 6   쇼핑몰     28894 non-null  object
 7   키워드평균   28894 non-null  float64
 8   키워드순위   28894 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 2.2+ MB

- 브랜드 인지도 컬럼 - 판매량 평균

In [22]:
train_data

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,2,0,2,0,2,2,1,0,0,0
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,0,0,0,...,10,6,4,4,4,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,2,4,1,0,0,0,4,0,2,0
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,0,0,0,...,0,0,0,1,0,1,0,1,2,0

In [23]:
numbers = train_data.iloc[:,7:]
sales_mean = numbers.mean(axis='columns')
sales_mean = pd.concat([train_data[['ID','브랜드']], sales_mean],axis=1)
sales_mean.columns = ['ID', '브랜드', '판매량평균']
#sales_mean['판매량평균'].fillna(0, inplace=True)
sales_mean[sales_mean['판매량평균']==0]

Empty DataFrame
Columns: [ID, 브랜드, 판매량평균]
Index: []

In [24]:
sales_mean[sales_mean['판매량평균'].isna()]

Empty DataFrame
Columns: [ID, 브랜드, 판매량평균]
Index: []

- 판매량 데이터 브랜드별 평균내기

In [25]:
brand_sales = sales_mean.groupby("브랜드")['판매량평균'].mean()
brand_sales

브랜드
B002-00001     1.432150
B002-00002     6.139875
B002-00003    29.072472
B002-00004     0.997912
B002-00005    16.386848
                ...
B002-03795     5.166493
B002-03796    43.584792
B002-03797     3.925365
B002-03798     8.111735
B002-03799    11.300626
Name: 판매량평균, Length: 2895, dtype: float64

In [27]:
brand_sales2 = brand_sales.reset_index()
brand_sales2

             브랜드      판매량평균
0     B002-00001   1.432150
1     B002-00002   6.139875
2     B002-00003  29.072472
3     B002-00004   0.997912
4     B002-00005  16.386848
...          ...        ...
2890  B002-03795   5.166493
2891  B002-03796  43.584792
2892  B002-03797   3.925365
2893  B002-03798   8.111735
2894  B002-03799  11.300626

[2895 rows x 2 columns]

In [28]:
merged_df3 = merged_df2.merge(brand_sales2, left_on='브랜드', right_on='브랜드', how='left')
merged_df3[merged_df3['브랜드']=='B002-00002'] #같은 브랜드면 같은 순위 잘 들어갔다!

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875

- 브랜드 인지도 컬럼 - 판매량 평균 순위매기기

In [29]:
brand_sales3 = brand_sales2.sort_values('판매량평균', ascending = False).reset_index()
brand_sales4 = brand_sales3.reset_index()
brand_sales4

      level_0  index         브랜드        판매량평균
0           0    890  B002-01162  1474.992345
1           1   1272  B002-01660  1427.899791
2           2   2666  B002-03492  1247.240084
3           3   2233  B002-02920  1102.405195
4           4     91  B002-00113  1086.161474
...       ...    ...         ...          ...
2890     2890   1305  B002-01701     0.240084
2891     2891    399  B002-00529     0.237996
2892     2892     94  B002-00119     0.229645
2893     2893   2704  B002-03534     0.223382
2894     2894     36  B002-00046     0.212944

[2895 rows x 4 columns]

In [30]:
sales_ranking = brand_sales4[['브랜드', 'level_0']]
sales_ranking.columns = ['브랜드', '판매량순위']
sales_ranking

             브랜드  판매량순위
0     B002-01162      0
1     B002-01660      1
2     B002-03492      2
3     B002-02920      3
4     B002-00113      4
...          ...    ...
2890  B002-01701   2890
2891  B002-00529   2891
2892  B002-00119   2892
2893  B002-03534   2893
2894  B002-00046   2894

[2895 rows x 2 columns]

In [31]:
merged_df4 = merged_df3.merge(sales_ranking, left_on='브랜드', right_on='브랜드', how='left')
merged_df4[merged_df4['브랜드']=='B002-00002'] #같은 브랜드면 같은 순위 잘 들어갔다!

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437

In [32]:
merged_df4

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0.702642,1699,1.432150,2501
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437
...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,0.147169,2725,8.111735,1184
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,5.497862,544,11.300626,923
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923

#### 가격포지셔닝 컬럼

- 가격포지셔닝 - 같은 대분류 안에서 평균가격바탕으로 표준화

In [33]:
train_data['대분류'].value_counts()

B002-C001-0002    20331
B002-C001-0001     7016
B002-C001-0005      915
B002-C001-0003      500
B002-C001-0004      132
Name: 대분류, dtype: int64

- 판매금액 데이터 만들기

In [34]:
info = train_data.iloc[:, :7]
train = train_data.iloc[:, 7:]
sales = sales_data.iloc[:, 7:]
price = sales.div(train)
price1 = pd.concat([info, price], axis=1)

In [35]:
price1

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,NaN,NaN,NaN,...,22400.0,NaN,22400.0,NaN,22400.0,22400.0,22400.0,NaN,NaN,NaN
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,NaN,NaN,NaN,...,4574.0,4726.666667,4330.0,4800.0,4800.0,NaN,NaN,NaN,NaN,5225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,NaN,NaN,NaN,...,20230.0,20230.000000,20230.0,NaN,NaN,NaN,20230.0,NaN,20230.0,NaN
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,NaN,NaN,NaN,...,NaN,NaN,NaN,13650.0,NaN,13650.0,NaN,13650.0,13650.0,NaN

In [36]:
def mean_excluding_zeros(row):
    non_zero_values = row[row != 0]
    if len(non_zero_values) > 0:
        return non_zero_values.mean()
    else:
        return 0  # Return 0 if all values are zeros

price_means = price.apply(mean_excluding_zeros, axis=1)

In [37]:
price_means1 = pd.concat([train_data[['대분류']], price_means],axis=1)
price_means1.columns = ['대분류', '가격평균']
price_means1

                  대분류          가격평균
0      B002-C001-0002   5856.896552
1      B002-C001-0003  23753.929961
2      B002-C001-0003  12058.598993
3      B002-C001-0003   4010.919540
4      B002-C001-0003   4261.803957
...               ...           ...
28889  B002-C001-0003  15794.705735
28890  B002-C001-0003   1897.249521
28891  B002-C001-0003  21839.099282
28892  B002-C001-0003  12066.213518
28893  B002-C001-0003  12862.137681

[28894 rows x 2 columns]

In [38]:
price_means1[price_means1['가격평균'].isna()]

Empty DataFrame
Columns: [대분류, 가격평균]
Index: []

In [39]:
price_means1['가격평균'].fillna(0, inplace=True)

- 대분류별 그룹화

In [40]:
brand_stats = price_means1.groupby('대분류')['가격평균'].agg(['mean', 'std']).reset_index()
brand_stats.rename(columns={'mean': 'MeanPrice', 'std': 'StdDevPrice'}, inplace=True)

In [41]:
price_means2 = pd.merge(price_means1, brand_stats, on='대분류', how='left')

In [42]:
price_means2

                  대분류          가격평균     MeanPrice   StdDevPrice
0      B002-C001-0002   5856.896552  11232.724191  19870.849287
1      B002-C001-0003  23753.929961  24415.383977  47025.552417
2      B002-C001-0003  12058.598993  24415.383977  47025.552417
3      B002-C001-0003   4010.919540  24415.383977  47025.552417
4      B002-C001-0003   4261.803957  24415.383977  47025.552417
...               ...           ...           ...           ...
28889  B002-C001-0003  15794.705735  24415.383977  47025.552417
28890  B002-C001-0003   1897.249521  24415.383977  47025.552417
28891  B002-C001-0003  21839.099282  24415.383977  47025.552417
28892  B002-C001-0003  12066.213518  24415.383977  47025.552417
28893  B002-C001-0003  12862.137681  24415.383977  47025.552417

[28894 rows x 4 columns]

In [43]:
price_means2['ZScore_대분류'] = (price_means2['가격평균'] - price_means2['MeanPrice']) / price_means2['StdDevPrice']

In [44]:
price_means2

                  대분류          가격평균     MeanPrice   StdDevPrice  ZScore_대분류
0      B002-C001-0002   5856.896552  11232.724191  19870.849287   -0.270538
1      B002-C001-0003  23753.929961  24415.383977  47025.552417   -0.014066
2      B002-C001-0003  12058.598993  24415.383977  47025.552417   -0.262767
3      B002-C001-0003   4010.919540  24415.383977  47025.552417   -0.433902
4      B002-C001-0003   4261.803957  24415.383977  47025.552417   -0.428567
...               ...           ...           ...           ...         ...
28889  B002-C001-0003  15794.705735  24415.383977  47025.552417   -0.183319
28890  B002-C001-0003   1897.249521  24415.383977  47025.552417   -0.478849
28891  B002-C001-0003  21839.099282  24415.383977  47025.552417   -0.054785
28892  B002-C001-0003  12066.213518  24415.383977  47025.552417   -0.262606
28893  B002-C001-0003  12862.137681  24415.383977  47025.552417   -0.245680

[28894 rows x 5 columns]

In [45]:
merged_df5 = pd.concat([merged_df4, price_means2[['가격평균', 'ZScore_대분류']]], axis=1)
merged_df5[merged_df5['브랜드']=='B002-00002']

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,23753.929961,-0.014066
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,12058.598993,-0.262767
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,4010.919540,-0.433902
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437,4261.803957,-0.428567

- 가격포지셔닝 - 같은 중분류 안에서 평균가격바탕으로 표준화

In [46]:
train_data['중분류'].value_counts()

B002-C002-0001    6650
B002-C002-0005    5206
B002-C002-0007    4203
B002-C002-0003    3565
B002-C002-0006    2734
B002-C002-0004    1993
B002-C002-0009    1798
B002-C002-0002    1330
B002-C002-0011     915
B002-C002-0008     460
B002-C002-0010      40
Name: 중분류, dtype: int64

In [47]:
price_mean_jung = pd.concat([train_data[['중분류']], price_means],axis=1)
price_mean_jung.columns = ['중분류', '가격평균']
price_mean_jung

                  중분류          가격평균
0      B002-C002-0007   5856.896552
1      B002-C002-0008  23753.929961
2      B002-C002-0008  12058.598993
3      B002-C002-0008   4010.919540
4      B002-C002-0008   4261.803957
...               ...           ...
28889  B002-C002-0008  15794.705735
28890  B002-C002-0008   1897.249521
28891  B002-C002-0008  21839.099282
28892  B002-C002-0008  12066.213518
28893  B002-C002-0008  12862.137681

[28894 rows x 2 columns]

In [48]:
price_mean_jung[price_mean_jung['가격평균'].isna()]

Empty DataFrame
Columns: [중분류, 가격평균]
Index: []

In [49]:
price_mean_jung['가격평균'].fillna(0, inplace=True)

- 중분류별 그룹화

In [50]:
brand_stats = price_mean_jung.groupby('중분류')['가격평균'].agg(['mean', 'std']).reset_index()
brand_stats.rename(columns={'mean': 'MeanPrice', 'std': 'StdDevPrice'}, inplace=True)

In [51]:
price_mean_jung2 = pd.merge(price_mean_jung, brand_stats, on='중분류', how='left')

In [52]:
price_mean_jung2

                  중분류          가격평균     MeanPrice   StdDevPrice
0      B002-C002-0007   5856.896552  13648.323422  13029.064962
1      B002-C002-0008  23753.929961  25452.690856  48840.507107
2      B002-C002-0008  12058.598993  25452.690856  48840.507107
3      B002-C002-0008   4010.919540  25452.690856  48840.507107
4      B002-C002-0008   4261.803957  25452.690856  48840.507107
...               ...           ...           ...           ...
28889  B002-C002-0008  15794.705735  25452.690856  48840.507107
28890  B002-C002-0008   1897.249521  25452.690856  48840.507107
28891  B002-C002-0008  21839.099282  25452.690856  48840.507107
28892  B002-C002-0008  12066.213518  25452.690856  48840.507107
28893  B002-C002-0008  12862.137681  25452.690856  48840.507107

[28894 rows x 4 columns]

In [53]:
price_mean_jung2['ZScore_중분류'] = (price_mean_jung2['가격평균'] - price_mean_jung2['MeanPrice']) / price_mean_jung2['StdDevPrice']

In [54]:
price_mean_jung2

                  중분류          가격평균     MeanPrice   StdDevPrice  ZScore_중분류
0      B002-C002-0007   5856.896552  13648.323422  13029.064962   -0.598004
1      B002-C002-0008  23753.929961  25452.690856  48840.507107   -0.034782
2      B002-C002-0008  12058.598993  25452.690856  48840.507107   -0.274241
3      B002-C002-0008   4010.919540  25452.690856  48840.507107   -0.439016
4      B002-C002-0008   4261.803957  25452.690856  48840.507107   -0.433879
...               ...           ...           ...           ...         ...
28889  B002-C002-0008  15794.705735  25452.690856  48840.507107   -0.197745
28890  B002-C002-0008   1897.249521  25452.690856  48840.507107   -0.482293
28891  B002-C002-0008  21839.099282  25452.690856  48840.507107   -0.073988
28892  B002-C002-0008  12066.213518  25452.690856  48840.507107   -0.274086
28893  B002-C002-0008  12862.137681  25452.690856  48840.507107   -0.257789

[28894 rows x 5 columns]

In [55]:
merged_df6 = pd.concat([merged_df5, price_mean_jung2[['ZScore_중분류']]], axis=1)
merged_df6[merged_df6['브랜드']=='B002-00002']

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류,ZScore_중분류
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,23753.929961,-0.014066,-0.034782
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,12058.598993,-0.262767,-0.274241
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,4010.919540,-0.433902,-0.439016
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437,4261.803957,-0.428567,-0.433879

- minmax정규화 - 대분류에서

In [56]:
price_means1

                  대분류          가격평균
0      B002-C001-0002   5856.896552
1      B002-C001-0003  23753.929961
2      B002-C001-0003  12058.598993
3      B002-C001-0003   4010.919540
4      B002-C001-0003   4261.803957
...               ...           ...
28889  B002-C001-0003  15794.705735
28890  B002-C001-0003   1897.249521
28891  B002-C001-0003  21839.099282
28892  B002-C001-0003  12066.213518
28893  B002-C001-0003  12862.137681

[28894 rows x 2 columns]

In [57]:
price_means1['NormalizedPrice_대분류'] = price_means1.groupby('대분류')['가격평균'].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [58]:
price_means1

                  대분류          가격평균  NormalizedPrice_대분류
0      B002-C001-0002   5856.896552             0.010869
1      B002-C001-0003  23753.929961             0.067135
2      B002-C001-0003  12058.598993             0.033716
3      B002-C001-0003   4010.919540             0.010720
4      B002-C001-0003   4261.803957             0.011437
...               ...           ...                  ...
28889  B002-C001-0003  15794.705735             0.044392
28890  B002-C001-0003   1897.249521             0.004680
28891  B002-C001-0003  21839.099282             0.061664
28892  B002-C001-0003  12066.213518             0.033738
28893  B002-C001-0003  12862.137681             0.036012

[28894 rows x 3 columns]

In [59]:
merged_df7 = pd.concat([merged_df6, price_means1[['NormalizedPrice_대분류']]], axis=1)
merged_df7

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류,ZScore_중분류,NormalizedPrice_대분류
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0.702642,1699,1.432150,2501,5856.896552,-0.270538,-0.598004,0.010869
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,23753.929961,-0.014066,-0.034782,0.067135
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,12058.598993,-0.262767,-0.274241,0.033716
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,4010.919540,-0.433902,-0.439016,0.010720
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437,4261.803957,-0.428567,-0.433879,0.011437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,0.147169,2725,8.111735,1184,15794.705735,-0.183319,-0.197745,0.044392
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,5.497862,544,11.300626,923,1897.249521,-0.478849,-0.482293,0.004680
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,21839.099282,-0.054785,-0.073988,0.061664
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,12066.213518,-0.262606,-0.274086,0.033738
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,12862.137681,-0.245680,-0.257789,0.036012

- minmax정규화 - 중분류에서

In [60]:
price_mean_jung

                  중분류          가격평균
0      B002-C002-0007   5856.896552
1      B002-C002-0008  23753.929961
2      B002-C002-0008  12058.598993
3      B002-C002-0008   4010.919540
4      B002-C002-0008   4261.803957
...               ...           ...
28889  B002-C002-0008  15794.705735
28890  B002-C002-0008   1897.249521
28891  B002-C002-0008  21839.099282
28892  B002-C002-0008  12066.213518
28893  B002-C002-0008  12862.137681

[28894 rows x 2 columns]

In [61]:
price_mean_jung['NormalizedPrice_중분류'] = price_mean_jung.groupby('중분류')['가격평균'].transform(lambda x: (x - x.min()) / (x.max() - x.min()))

In [62]:
price_mean_jung

                  중분류          가격평균  NormalizedPrice_중분류
0      B002-C002-0007   5856.896552             0.038224
1      B002-C002-0008  23753.929961             0.067135
2      B002-C002-0008  12058.598993             0.033716
3      B002-C002-0008   4010.919540             0.010720
4      B002-C002-0008   4261.803957             0.011437
...               ...           ...                  ...
28889  B002-C002-0008  15794.705735             0.044392
28890  B002-C002-0008   1897.249521             0.004680
28891  B002-C002-0008  21839.099282             0.061664
28892  B002-C002-0008  12066.213518             0.033738
28893  B002-C002-0008  12862.137681             0.036012

[28894 rows x 3 columns]

In [63]:
merged_df8 = pd.concat([merged_df7, price_mean_jung[['NormalizedPrice_중분류']]], axis=1)
merged_df8[merged_df8['대분류']=='B002-C001-0003']

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류,ZScore_중분류,NormalizedPrice_대분류,NormalizedPrice_중분류
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,23753.929961,-0.014066,-0.034782,0.067135,0.067135
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,12058.598993,-0.262767,-0.274241,0.033716,0.033716
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,11.530036,307,6.139875,1437,4010.919540,-0.433902,-0.439016,0.010720,0.010720
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,11.530036,307,6.139875,1437,4261.803957,-0.428567,-0.433879,0.011437,0.011437
126,SAMPLE_00126,B002-00042-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00042,S001-00001,0.001029,3615,4.154489,1792,3241.509434,-0.450263,-0.454770,0.008521,0.008521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28889,SAMPLE_28889,B002-03798-00046,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03798,S001-00001,0.147169,2725,8.111735,1184,15794.705735,-0.183319,-0.197745,0.044392,0.044392
28890,SAMPLE_28890,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,S001-00001,5.497862,544,11.300626,923,1897.249521,-0.478849,-0.482293,0.004680,0.004680
28891,SAMPLE_28891,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,21839.099282,-0.054785,-0.073988,0.061664,0.061664
28892,SAMPLE_28892,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,12066.213518,-0.262606,-0.274086,0.033738,0.033738
28893,SAMPLE_28893,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,S001-00001,5.497862,544,11.300626,923,12862.137681,-0.245680,-0.257789,0.036012,0.036012

In [64]:
merged_df8[merged_df8['중분류']=='B002-C002-0010']

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류,ZScore_중분류,NormalizedPrice_대분류,NormalizedPrice_중분류
3668,SAMPLE_03668,B002-00453-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-00453,S001-00001,196.853986,8,0.680585,2780,8476.470588,-0.338942,-0.510472,0.023480,0.153673
6693,SAMPLE_06693,B002-00816-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-00816,S001-00001,0.443332,2017,7.583120,1245,31634.156977,0.153507,2.437582,0.089653,0.952864
7741,SAMPLE_07741,B002-00955-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-00955,S001-00001,0.177118,2621,0.680585,2779,10318.578431,-0.299769,-0.275966,0.028744,0.217246
8620,SAMPLE_08620,B002-01125-00004,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01125,S001-00001,0.014989,3302,2.404593,2192,9295.744681,-0.321520,-0.406176,0.025821,0.181947
8621,SAMPLE_08621,B002-01125-00005,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01125,S001-00001,0.014989,3302,2.404593,2192,21540.745763,-0.061129,1.152656,0.060811,0.604532
8622,SAMPLE_08622,B002-01125-00005,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01125,S001-00004,0.014989,3302,2.404593,2192,13287.307692,-0.236639,0.101964,0.037227,0.319699
9968,SAMPLE_09968,B002-01283-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01283,S001-00001,0.013475,3315,2.304802,2220,8940.000000,-0.329085,-0.451463,0.024805,0.169670
10484,SAMPLE_10484,B002-01383-00002,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01383,S001-00001,0.139871,2749,3.441197,1935,33000.000000,0.182552,2.611459,0.093556,1.000000
10882,SAMPLE_10882,B002-01474-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01474,S001-00001,0.002665,3534,1.427975,2502,5388.851351,-0.404600,-0.903537,0.014657,0.047117
11582,SAMPLE_11582,B002-01550-00007,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01550,S001-00001,0.000363,3677,13.219654,827,27858.894570,0.073226,1.956978,0.078865,0.822576
11583,SAMPLE_11583,B002-01550-00007,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-01550,S001-00004,0.000363,3677,13.219654,827,27550.000000,0.066658,1.917655,0.077983,0.811916
16251,SAMPLE_16251,B002-02117-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02117,S001-00001,0.402148,2089,7.795407,1221,16498.207885,-0.168359,0.510723,0.046402,0.430510
18148,SAMPLE_18148,B002-02283-00030,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02283,S001-00001,2.209989,968,44.383178,265,4992.177364,-0.413035,-0.954035,0.013524,0.033427
18244,SAMPLE_18244,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00001,10.545033,331,8.490239,1138,5620.492766,-0.399674,-0.874048,0.015319,0.055111
18245,SAMPLE_18245,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00002,10.545033,331,8.490239,1138,6113.233488,-0.389196,-0.811321,0.016727,0.072116
18246,SAMPLE_18246,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00003,10.545033,331,8.490239,1138,7190.189751,-0.366294,-0.674220,0.019804,0.109283
18247,SAMPLE_18247,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00004,10.545033,331,8.490239,1138,6277.845565,-0.385695,-0.790365,0.017197,0.077797
18248,SAMPLE_18248,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00008,10.545033,331,8.490239,1138,5724.693478,-0.397458,-0.860783,0.015617,0.058707
18249,SAMPLE_18249,B002-02300-00017,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00010,10.545033,331,8.490239,1138,6829.313199,-0.373968,-0.720161,0.018773,0.096828
18250,SAMPLE_18250,B002-02300-00018,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00001,10.545033,331,8.490239,1138,10953.690037,-0.286263,-0.195114,0.030559,0.239164
18253,SAMPLE_18253,B002-02300-00022,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00001,10.545033,331,8.490239,1138,14385.988701,-0.213275,0.241830,0.040366,0.357615
18254,SAMPLE_18254,B002-02300-00023,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00001,10.545033,331,8.490239,1138,6556.178829,-0.379777,-0.754932,0.017993,0.087402
18255,SAMPLE_18255,B002-02300-00023,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00004,10.545033,331,8.490239,1138,9672.638672,-0.313505,-0.358196,0.026898,0.194954
18256,SAMPLE_18256,B002-02300-00024,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02300,S001-00001,10.545033,331,8.490239,1138,14863.764881,-0.203116,0.302653,0.041732,0.374104
22513,SAMPLE_22513,B002-02915-00025,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-02915,S001-00001,1.975723,1035,18.088958,630,24679.220779,0.005610,1.552195,0.069779,0.712843
24301,SAMPLE_24301,B002-03157-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03157,S001-00001,0.087116,2901,1.962422,2321,5248.608974,-0.407582,-0.921390,0.014256,0.042277
25216,SAMPLE_25216,B002-03293-00026,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03293,S001-00001,0.536694,1882,6.152040,1435,11026.341207,-0.284718,-0.185865,0.030766,0.241671
25217,SAMPLE_25217,B002-03293-00026,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03293,S001-00002,0.536694,1882,6.152040,1435,13301.393035,-0.236339,0.103757,0.037267,0.320185
25218,SAMPLE_25218,B002-03293-00026,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03293,S001-00003,0.536694,1882,6.152040,1435,11619.800596,-0.272099,-0.110315,0.032462,0.262152
25219,SAMPLE_25219,B002-03293-00026,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03293,S001-00004,0.536694,1882,6.152040,1435,11353.460520,-0.277762,-0.144221,0.031701,0.252960
25763,SAMPLE_25763,B002-03344-00016,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03344,S001-00001,1.196332,1331,6.067976,1443,17630.339207,-0.144284,0.654847,0.049637,0.469581
25764,SAMPLE_25764,B002-03344-00016,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03344,S001-00002,1.196332,1331,6.067976,1443,15711.620879,-0.185086,0.410588,0.044154,0.403364
25765,SAMPLE_25765,B002-03344-00016,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03344,S001-00003,1.196332,1331,6.067976,1443,17375.691729,-0.149699,0.622430,0.048910,0.460793
25766,SAMPLE_25766,B002-03344-00016,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03344,S001-00004,1.196332,1331,6.067976,1443,16177.350930,-0.175182,0.469877,0.045485,0.419437
26143,SAMPLE_26143,B002-03414-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03414,S001-00001,0.000545,3657,0.334029,2872,18690.133333,-0.121748,0.789763,0.052666,0.506155
27754,SAMPLE_27754,B002-03644-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03644,S001-00001,0.000727,3642,3.061378,2041,4023.568894,-0.433633,-1.077342,0.010756,0.000000
27755,SAMPLE_27755,B002-03644-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03644,S001-00002,0.000727,3642,3.061378,2041,4972.764159,-0.413448,-0.956506,0.013468,0.032757
27756,SAMPLE_27756,B002-03644-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03644,S001-00003,0.000727,3642,3.061378,2041,5333.438797,-0.405778,-0.910591,0.014499,0.045205
27757,SAMPLE_27757,B002-03644-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03644,S001-00004,0.000727,3642,3.061378,2041,4878.525412,-0.415452,-0.968503,0.013199,0.029505
27758,SAMPLE_27758,B002-03644-00001,B002-C001-0003,B002-C002-0010,B002-C003-0050,B002-03644,S001-00005,0.000727,3642,3.061378,2041,4462.771440,-0.424293,-1.021430,0.012011,0.015157

In [65]:
merged_df8[merged_df8['대분류']=='B002-C001-0003']['중분류'].unique()

array(['B002-C002-0008', 'B002-C002-0010'], dtype=object)

In [60]:
# merged_df8.to_csv('./ranking_choi.csv')

- 취급 제품 수, 언급량, 판매량 저장: lg 생활건강이 취급하는 품목에 대해 특정 브랜드가 차지하는 비율과 연관 있을 것이다.

In [96]:
keyword_sum = keyword_data.fillna(0).iloc[:,1:].sum(axis=1)
keyword_sum = pd.concat([keyword_data[['브랜드']],keyword_sum],axis=1)
keyword_sum.columns = ['브랜드', '언급량']
keyword_sum

             브랜드          언급량
0     B002-00001   336.565730
1     B002-00002  5522.887040
2     B002-00003   382.736330
3     B002-00004   278.573210
4     B002-00005   913.110420
...          ...          ...
3817  B002-03818   105.364251
3818  B002-03819     0.159550
3819  B002-03820     0.870276
3820  B002-03821  6587.650344
3821  B002-03822   505.596650

[3822 rows x 2 columns]

In [98]:
keyword_sum[keyword_sum['언급량'].isna()] # 아래 항목들은 원래 키워드 파일에서 아예 값이 없음

Empty DataFrame
Columns: [브랜드, 언급량]
Index: []

In [99]:
encode_info = train_data.iloc[:, :7]
date_sales = train_data.iloc[:, 7:]

In [ ]:
brand = brand2.merge(brand1, left_on='브랜드', right_on='브랜드', how='left')

In [87]:
keyword_data.fillna(0).iloc[:,1:].sum(axis=1)

0        336.565730
1       5522.887040
2        382.736330
3        278.573210
4        913.110420
           ...
3817     105.364251
3818       0.159550
3819       0.870276
3820    6587.650344
3821     505.596650
Length: 3822, dtype: float64

In [90]:
keyword_sum = keyword_data.fillna(0).iloc[:,1:].sum(axis=1)
keyword_sum = pd.concat([keyword_data[['브랜드']],keyword_sum],axis=1)
keyword_sum.columns = ['브랜드', '언급량']
keyword_sum

             브랜드          언급량
0     B002-00001   336.565730
1     B002-00002  5522.887040
2     B002-00003   382.736330
3     B002-00004   278.573210
4     B002-00005   913.110420
...          ...          ...
3817  B002-03818   105.364251
3818  B002-03819     0.159550
3819  B002-03820     0.870276
3820  B002-03821  6587.650344
3821  B002-03822   505.596650

[3822 rows x 2 columns]

In [91]:
pro_num = train_data['브랜드'].value_counts().sort_index(ascending=True)
pro_num = pd.concat([keyword_data[['브랜드']],pro_num],axis=1)
pro_num.columns = ['브랜드', '언급량']
pro_num

                   브랜드   언급량
0           B002-00001   NaN
1           B002-00002   NaN
2           B002-00003   NaN
3           B002-00004   NaN
4           B002-00005   NaN
...                ...   ...
B002-03795         NaN   4.0
B002-03796         NaN  26.0
B002-03797         NaN   4.0
B002-03798         NaN  48.0
B002-03799         NaN   4.0

[6717 rows x 2 columns]

In [92]:
brand = keyword_data.iloc[:,:1].copy()
brand

             브랜드
0     B002-00001
1     B002-00002
2     B002-00003
3     B002-00004
4     B002-00005
...          ...
3817  B002-03818
3818  B002-03819
3819  B002-03820
3820  B002-03821
3821  B002-03822

[3822 rows x 1 columns]

In [93]:
len(train_data['브랜드'].unique())

2895

In [86]:
# 브랜드 별 언급량, 제품수, 판매량 등 저장
brand = keyword_data.iloc[:,:1].copy()
brand['언급량'] = keyword_data.fillna(0).iloc[:,1:].sum(axis=1).to_numpy()
brand['제품수'] = train_data['브랜드'].value_counts().sort_index(ascending=True).to_numpy()

ValueError: Length of values (3822) does not match length of index (2895)

In [95]:
#train_data_category = train_data.loc[:,:'브랜드'] # 카테고리만 따로 저장
#train_data.iloc[:,7:].sum(axis=1).to_numpy()
#train_data_category['판매량'] = train_data.iloc[:,7:].sum(axis=1).to_numpy()
#grouped = train_data_category['판매량'].groupby(train_data_category['브랜드'])
#brand['총판매량'] = grouped.sum().to_numpy()
#brand['제품당판매량'] = grouped.mean().to_numpy()
# brand.to_csv('./brand_eda.csv')

ValueError: Length of values (2895) does not match length of index (3822)

In [63]:
brand

             브랜드          언급량  제품수    총판매량        제품당판매량
0     B002-00001   325.788350    1     343    343.000000
1     B002-00002  5328.935880    3    3213   1071.000000
2     B002-00003   336.406290   12   16885   1407.083333
3     B002-00005   862.501320   12   20413   1701.083333
4     B002-00006    72.870478    1     675    675.000000
...          ...          ...  ...     ...           ...
3165  B002-03794  1681.953030    2    2356   1178.000000
3166  B002-03795    31.344530    2    3210   1605.000000
3167  B002-03796     5.294160   13  147650  11357.692308
3168  B002-03798    67.636410   53   90427   1706.169811
3169  B002-03799  2528.094570    6   10819   1803.166667

[3170 rows x 5 columns]

In [64]:
# 제품 수와 그에 따른 순위를 추가
market_share = brand.iloc[:,[0,2]].sort_values('제품수',ascending=False)
market_share['제품수순위'] = market_share['제품수'].rank(method='min',ascending=False)
market_share

             브랜드  제품수   제품수순위
218   B002-00266  153     1.0
748   B002-00894  153     1.0
557   B002-00680  148     3.0
362   B002-00434  136     4.0
1736  B002-02052  113     5.0
...          ...  ...     ...
1678  B002-01985    1  1676.0
353   B002-00425    1  1676.0
1675  B002-01982    1  1676.0
1673  B002-01978    1  1676.0
0     B002-00001    1  1676.0

[3170 rows x 3 columns]

In [65]:
merged_df9 = merged_df8.merge(market_share, on='브랜드')

In [66]:
# float형으로 변경
# merged_df9['키워드순위'] = pd.to_numeric(merged_df9['키워드순위'], downcast='float')
# merged_df9['판매량순위'] = pd.to_numeric(merged_df9['판매량순위'], downcast='float')
# merged_df9['제품수'] = pd.to_numeric(merged_df9['제품수'], downcast='float')

In [67]:
merged_df9

,ID,제품,대분류,중분류,소분류,브랜드,키워드평균,키워드순위,판매량평균,판매량순위,가격평균,ZScore_대분류,ZScore_중분류,NormalizedPrice_대분류,NormalizedPrice_중분류,제품수,제품수순위
0,0,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,0.709779,1402,0.747277,2158,5856.896552,-0.272377,-0.602610,0.011003,0.037116,1,1676.0
1,1,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,11.609882,257,2.333333,1486,23808.744939,0.021275,0.002343,0.073794,0.073794,3,869.0
2,2,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,11.609882,257,2.333333,1486,12058.598993,-0.255577,-0.264663,0.037375,0.037375,3,869.0
3,3,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,11.609882,257,2.333333,1486,4010.919540,-0.445193,-0.447536,0.012432,0.012432,3,869.0
4,4,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0.732911,1375,3.065541,1268,5056.881566,-0.719676,-0.712962,0.006809,0.006809,12,287.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15885,15885,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,5.507831,451,3.928468,1079,1897.249521,-0.494994,-0.495566,0.005880,0.005880,6,514.0
15886,15886,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,5.507831,451,3.928468,1079,21913.941109,-0.023370,-0.040713,0.067921,0.067921,6,514.0
15887,15887,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,5.507831,451,3.928468,1079,12066.213518,-0.255398,-0.264490,0.037399,0.037399,6,514.0
15888,15888,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,5.507831,451,3.928468,1079,12844.629630,-0.237057,-0.246801,0.039811,0.039811,6,514.0
15889,15889,B002-03799-00010,B002-C001-0002,B002-C002-0004,B002-C003-0020,B002-03799,5.507831,451,3.928468,1079,49800.000000,1.583842,1.612142,0.093560,0.154587,6,514.0

In [68]:
merged_df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15890 entries, 0 to 15889
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   15890 non-null  int64
 1   제품                   15890 non-null  object
 2   대분류                  15890 non-null  object
 3   중분류                  15890 non-null  object
 4   소분류                  15890 non-null  object
 5   브랜드                  15890 non-null  object
 6   키워드평균                15890 non-null  float64
 7   키워드순위                15890 non-null  int64
 8   판매량평균                15890 non-null  float64
 9   판매량순위                15890 non-null  int64
 10  가격평균                 15890 non-null  float64
 11  ZScore_대분류           15890 non-null  float64
 12  ZScore_중분류           15890 non-null  float64
 13  NormalizedPrice_대분류  15890 non-null  float64
 14  NormalizedPrice_중분류  15890 non-null  float64
 15  제품수                  15890 non-null  int64
 16  제품수순위                15890 non-null  float64
dtypes: float64(8), int64(4), object(5)
memory usage: 2.2+ MB

In [69]:
merged_df9.to_csv('./dataset/features.csv')