In [1]:
import pandas as pd
import numpy as np

In [2]:
submit_mall1 = pd.read_csv("/root/workspace/songseong/dlinear_submit_0917_1_2.csv")
submit_mall2 = pd.read_csv("/root/workspace/songseong/patchtst_submit_0917_2_2.csv")

In [3]:
submit_mall1

,ID,2023-04-25,2023-04-26,2023-04-27,2023-04-28,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,...,2023-05-06,2023-05-07,2023-05-08,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14,2023-05-15
0,SAMPLE_00000,1,1,1,3,-2,0,0,-1,0,...,1,0,2,1,1,2,3,1,2,1
1,SAMPLE_00001,0,1,2,2,2,1,1,1,1,...,1,0,1,1,1,2,2,1,1,2
2,SAMPLE_00002,1,1,1,1,3,2,1,2,1,...,2,2,2,4,2,2,2,2,3,2
3,SAMPLE_00003,1,2,2,3,7,4,1,4,2,...,4,5,5,8,4,3,3,4,6,5
4,SAMPLE_00005,0,1,-1,4,6,0,2,0,2,...,7,1,3,4,1,-1,-1,0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11221,SAMPLE_28889,0,0,1,1,2,1,0,1,0,...,1,1,1,2,1,1,1,1,1,1
11222,SAMPLE_28890,-27,-12,-7,2,36,26,-10,-20,-30,...,38,39,3,19,-3,-26,-9,27,62,43
11223,SAMPLE_28891,-1,-6,-1,7,6,10,-2,6,0,...,19,2,2,10,2,7,6,10,7,10
11224,SAMPLE_28892,0,1,1,1,2,1,0,1,0,...,1,2,2,2,1,1,1,1,2,1
11225,SAMPLE_28893,1,0,1,1,2,1,0,1,1,...,1,1,1,1,0,1,1,1,2,2

In [5]:
pd.read_csv("/root/workspace/songseong/patchtst_submit_0917_2.csv")

,ID,2023-04-25,2023-04-26,2023-04-27,2023-04-28,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,...,2023-05-06,2023-05-07,2023-05-08,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14,2023-05-15
0,SAMPLE_00004,6,161,18,52,94,108,112,54,76,...,31,93,113,-28,60,-28,74,16,-61,207
1,SAMPLE_00008,1,0,0,0,0,0,0,-1,1,...,0,0,0,0,0,0,0,0,0,0
2,SAMPLE_00009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,SAMPLE_00010,3,-3,1,-3,-1,3,2,-2,4,...,0,1,1,0,-1,2,1,-2,2,0
4,SAMPLE_00012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17663,SAMPLE_28845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17664,SAMPLE_28851,4,2,2,2,1,0,-1,4,-1,...,5,0,1,3,3,1,1,-1,4,0
17665,SAMPLE_28852,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17666,SAMPLE_28856,-2,1,4,4,6,-2,10,-1,-7,...,6,-1,6,4,0,4,4,-2,9,7
17667,SAMPLE_28879,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
submit_mall2

,ID,2023-04-25,2023-04-26,2023-04-27,2023-04-28,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,...,2023-05-06,2023-05-07,2023-05-08,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14,2023-05-15
0,SAMPLE_00004,6,161,18,52,94,108,112,54,76,...,31,93,113,-28,60,-28,74,16,-61,207
1,SAMPLE_00008,1,0,0,0,0,0,0,-1,1,...,0,0,0,0,0,0,0,0,0,0
2,SAMPLE_00009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,SAMPLE_00010,3,-3,1,-3,-1,3,2,-2,4,...,0,1,1,0,-1,2,1,-2,2,0
4,SAMPLE_00012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17663,SAMPLE_28845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17664,SAMPLE_28851,4,2,2,2,1,0,-1,4,-1,...,5,0,1,3,3,1,1,-1,4,0
17665,SAMPLE_28852,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17666,SAMPLE_28856,-2,1,4,4,6,-2,10,-1,-7,...,6,-1,6,4,0,4,4,-2,9,7
17667,SAMPLE_28879,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
submit = pd.concat([submit_mall1, submit_mall2], axis=0)

In [8]:
submit = submit.sort_values('ID')

In [9]:
submit.to_csv("/root/workspace/minkyung/submit/d_ku_submit_0917_2.csv", index=False)